.App {
    position: absolute;
    min-width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: url("../../fon-dlya-skazki-krasnaya-shapochka-8.jpg");
    /* opacity: 0.7; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .Footer {
        position: absolute;
        width: 100%;
        height: 10%;
        left: 0px;
        top: 0px;

        background: rgb(0, 0, 0, .6);
        text-align: center;
        
        .Text {
            font-family: 'El Messiri';
            font-style: normal;
            font-weight: 270;
            font-size: 32px;
            margin-top: 5px;
            /* line-height: 10%; */
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            color: #FFFFFF;
        }
    };

    .Form {
        background: rgba(5, 5, 5, 0.8);
        border-radius: 32px;
        width: 340px;
        height: 300px;
        vertical-align: middle;
        align-items: center;
        /* display: flex;
        justify-content: center; */

        .Text {
            font-family: 'El Messiri';
            font-style: normal;
            font-weight: 270;
            font-size: 32px;
            margin-top: 5px;
            text-align: center;
            color: #FFFFFF;
        }
    }
}